# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* List popular languages for Data Science
* List popular libraries that data scientists uses
* List most used development environments open source

**Popular Languages**

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

**Libraries**

Some of the commonly used libraries used by Data Scientists include:

1. Nympy (Python)
2. Pandas (Python)
3. ggplot2 (R)

__Data Science development environment__

|Data Science Tools|
|--------------------|
|Anaconda|
|RStudio|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5

# This a simple arithmetic expression to multiply then add integers

17

In [6]:
(200/60)

# This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author

Matheus da Silva Lopes